<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javascrip node js</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
        <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>


<div class="container">

 <h1>
    <%= title %>
</h1>
<form action="/search" method="post" >
<div><input type="text" name="cari" placeholder="Cari pesan untuk">
    <input type="submit" class="btn btn-danger" value="cari"></div>
</form>
<% for (let user of users) { %>
<div class="data">
    

    <div class="nama">
        <h3>Pesan untuk:</h3>
        <p><%= user.name_user %></p></div>
    <div class="lagu">
        <h3>Lagu</h3>
        <p alt="apapa"><%= user.birth_user%></p>
    </div>
    <div class="pesan">
        <h3>Pesan</h3>
        <p><%= user.negara_user%></p>
       

    </div>
    
   
            <!-- ... (bagian lain dari data) ... -->
            <form action="/hapus" method="post">
                <input type="hidden" name="userId" >
                <div><button type="submit" class="btn btn-danger" onclick="return confirm('Apakah Anda yakin ingin menghapus data ini?')">Hapus</button></div>
            </form>
      
       

</div>
 <% } %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>